
.ReadCrew{
    margin:0 auto;
}
.crew-container{
    display: grid;
    grid-template-columns : 25vw 25vw 25vw;
    grid-template-rows : fit-content;
    grid-gap:50px;
    margin:50px auto;
    width: fit-content;
}

.card-container{
    display: flex;
    flex-direction: column;
    padding:20px;
    background: rgb(95, 95, 95);
    border-radius: 10px;
    text-align: center;
    border: 5px solid black;
    transition: 0.3s;
}

.card-container img{
    width:30%;
    margin: 10px auto;
}

.update-button{
    width: fit-content;
    margin:10px auto;
    padding:10px;
    background: black;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .update-button:hover{
    
    background: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: black;
  
    transform: scale(1.1);
  }
  
  .stats{
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
    background: black;
    width:fit-content;
    border:2px solid white;
    border-radius: 10px;
    transition: 0.3s;
  }

  .stats:hover{
    background: white;
    border:2px solid black;
    color: black;

  }